<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<nav class="side-navbar z-index-40 nav_custom">
  <!-- Sidebar Header
  <div class="sidebar-header d-flex align-items-center py-4 px-3"><img class="avatar shadow-0 img-fluid rounded-circle" src="Bootstrapious/img/avatar-1.jpg" alt="...">
    <div class="ms-3 title">
      <h1 class="h4 mb-2">Mark Stephen</h1>
      <p class="text-sm text-gray-500 fw-light mb-0 lh-1">Web Designer</p>
    </div>
  </div>

  <span class="text-uppercase text-gray-400 text-xs letter-spacing-0 mx-3 px-2 heading">Main</span> -->

  <ul class="list-unstyled py-4">
    <h4 class="text-center mt-2">สินค้าร้านของฉัน</h4>
    <li class="sidebar-item"> <a class="sidebar-link" href="/indexAllv2"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-table" viewBox="0 0 16 16">
        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
      </svg>สินค้าทั้งหมด</a></li>
    <li class="sidebar-item"> <a class="sidebar-link" href="/indexNew"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-heart" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 4.41c1.387-1.425 4.854 1.07 0 4.277C3.146 5.48 6.613 2.986 8 4.412z"/>
        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
      </svg>สินค้าใหม่</a></li>
   <li class="sidebar-item"> <a class="sidebar-link" href="#"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-star" viewBox="0 0 16 16">
      <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z"/>
      <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z"/>
    </svg>สินค้าที่ยอดฮิต</a></li>  
   
    <li class="sidebar-item"><a class="sidebar-link" href="#exampledropdownDropdown1" data-bs-toggle="collapse"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-female" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 1a4 4 0 1 0 0 8 4 4 0 0 0 0-8zM3 5a5 5 0 1 1 5.5 4.975V12h2a.5.5 0 0 1 0 1h-2v2.5a.5.5 0 0 1-1 0V13h-2a.5.5 0 0 1 0-1h2V9.975A5 5 0 0 1 3 5z"/>
      </svg>ชุดว่ายน้ำผู้หญิง</a>
    <ul class="collapse list-unstyled " id="exampledropdownDropdown1">
      <!-- <li><a class="sidebar-link" href="#">Page</a></li>
      <li><a class="sidebar-link" href="#">Page</a></li>
      <li><a class="sidebar-link" href="#">Page</a></li> -->
    </ul>
    <li class="sidebar-item">
      <a class="sidebar-link" href="#exampledropdownDropdown2" data-bs-toggle="collapse"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gender-male " viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M9.5 2a.5.5 0 0 1 0-1h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.707L9.871 6.836a5 5 0 1 1-.707-.707L13.293 2H9.5zM6 6a4 4 0 1 0 0 8 4 4 0 0 0 0-8z"/>
      </svg>
      ชุดว่ายน้ำผู้ชาย
    </a>
    <ul class="collapse list-unstyled " id="exampledropdownDropdown2">
      <!-- <li><a class="sidebar-link" href="#">Page</a></li>
      <li><a class="sidebar-link" href="#">Page</a></li>
      <li><a class="sidebar-link" href="#">Page</a></li> -->
    </ul>
    <li class="sidebar-item"><a class="sidebar-link" href="#exampledropdownDropdown3" data-bs-toggle="collapse"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-easel" viewBox="0 0 16 16">
        <path d="M8 0a.5.5 0 0 1 .473.337L9.046 2H14a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-1.85l1.323 3.837a.5.5 0 1 1-.946.326L11.092 11H8.5v3a.5.5 0 0 1-1 0v-3H4.908l-1.435 4.163a.5.5 0 1 1-.946-.326L3.85 11H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h4.954L7.527.337A.5.5 0 0 1 8 0zM2 3v7h12V3H2z"/>
      </svg>ชุดว่ายน้ำเด็ก</a>
    <ul class="collapse list-unstyled " id="exampledropdownDropdown3">
      <!-- <li><a class="sidebar-link" href="#">Page</a></li>
      <li><a class="sidebar-link" href="#">Page</a></li>
      <li><a class="sidebar-link" href="#">Page</a></li> -->
    </ul>
  </li>
  <h4 class="text-center mt-2">เกี่ยวกับฉัน</h4>
  <li class="sidebar-item"> <a class="sidebar-link" href="/login?message=page"> 
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
      <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
    </svg>ตะกร้าของฉัน </a></li>
    <li class="sidebar-item"> <a class="sidebar-link" href="/login?message=page"> 
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg>ที่อยู่การจัดส่ง</a></li>
      <li class="sidebar-item"> <a class="sidebar-link" href="/login?message=page"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-check" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
        </svg>ประวัติการสั่งซื้อ</a></li>
      
  </ul>
  <!-- <ul class="list-unstyled py-4">
    <li class="sidebar-item"> <a class="sidebar-link" href="#"> 
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
          <use xlink:href="#imac-screen-1"> </use>
        </svg>Demo </a></li>
    <li class="sidebar-item"> <a class="sidebar-link" href="#"> 
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
          <use xlink:href="#chart-1"> </use>
        </svg>Demo </a></li>
    <li class="sidebar-item"> <a class="sidebar-link" href="#"> 
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
          <use xlink:href="#quality-1"> </use>
        </svg>Demo </a></li>
    <li class="sidebar-item"> <a class="sidebar-link" href="#"> 
        <svg class="svg-icon svg-icon-sm svg-icon-heavy me-xl-2">
          <use xlink:href="#security-shield-1"> </use>
        </svg>Demo </a></li>
  </ul> -->
</nav>
<script src="adminlte/plugins/jquery/jquery.min.js"></script>
<script>
  var id1 = document.getElementById("exampledropdownDropdown1")
  var id2 = document.getElementById("exampledropdownDropdown2")
  var id3 = document.getElementById("exampledropdownDropdown3")
  $( document ).ready(function() {   
      $.post("/showType", function(result){
        result.female.forEach(element =>  
        id1.innerHTML += `<li><a class="sidebar-link"  href="/indexType?id=${element._id}">${element.name}</a></li>`
        );
        result.man.forEach(element =>  
        id2.innerHTML += `<li><a class="sidebar-link"href="/indexType?id=${element._id}")" href="#">${element.name}</a></li>`
        );
        result.kid.forEach(element =>  
        id3.innerHTML += `<li><a class="sidebar-link"href="/indexType?id=${element._id}")" href="#">${element.name}</a></li>`
        );
      });
      
  });

</script>
</body>
</html>