<div class="col-3">
    <ul class="list-group">
       
        <li class="list-group-item active"
        style="font-size: 20px;"
        >บัญชีของฉัน</li>
        <li class="list-group-item">
          <a href="/change_user">
            ประวัติ
          </a>
        </li>
        <li class="list-group-item">
          <a href="/address">  ที่อยู่การจัดส่ง</a>
        
        </li>
       
    </ul>
    <ul class="list-group mt-3">
       
        <li class="list-group-item active"
        style="font-size: 20px;"
        >การซื้อของฉัน</li>
        <li class="list-group-item">
          <a href="/paid">ที่ต้องชำระ</a>
        </li>
        <li class="list-group-item">
          <a href="/wait">รอการตรวจสอบ</a>
        </li>
        <li class="list-group-item">
          <a href="/send">รอการจัดส่ง</a>
        </li>
        <li class="list-group-item">
          <a href="/done">จัดส่งเสร็จสิ้น</a>
        </li>
        <li class="list-group-item">
          <a href="/cancel">ยกเลิกแล้ว</a>
        </li>
    </ul>
   
</div>